ENVIRONMENT=prod
HOST=0.0.0.0
PORT=8080
COMMAND_START=["/"]
COMMAND_SEP=["-"]
DRIVER=~fastapi+~httpx+~websockets
SETTINGS_FILE=config/settings.yaml

# QQ
QQ_IS_SANDBOX=true

# Key
CHAT__KEY='
{
  "DeepSeek":{
    "key": "XXXX"
  }
}
'
QQ_BOTS='
[
  {
    "id": "xxx",
    "token": "xxx",
    "secret": "xxx",
    "intent": {
      "guild_messages": true,
      "at_messages": false
    }
  }
]
'